
.Button{
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.25rem 1rem;
    color: white;
    outline: none;
    cursor: pointer;

    background: #343a40;

    &:hover {
        background: #868e96;
    }
    
    &.fullWidth {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        width: 100%;
        font-size: 1.125rem;
    }

    &.cyan {
        background: #22b8cf;
        &:hover{
            background: #dee2e6;
        }
    }

    &.marginTop {
        margin-top: 1rem;
    }
}

