

.Responsive {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 1024px;
    margin: 0 auto;

    @media (max-width: 2048px) {
        width: 1024px;
    }
    @media (max-width: 1024px) {
        width: 100%;
    }
}