

.CafeSearchResultItem {


  background: #FFE4F4;
  border-radius: 18px;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  height: 100px;

  .Info {
    width: 70%;
    height: 100%;



    #cafe-name {
      display: block;
      height: fit-content;
      font-weight: bold;
    }

    .SubInfo {
      width: 250px;
      height: 30px;
      display: flex;
      flex-direction: row;

      #rating {
        color: red;
      }

      #category {
        font-weight: bold;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

      }
    }
  }

  #detail {
    display: flex;
    align-items: center;
    opacity: 0.5;
    font-size: 14px;
  }

}