




.Comment {
    

    

    header {
        font-size: 1rem;
        font-weight: bold;
    }

    p {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.8rem;
        opacity: 0.4;
        
    }

    border: 1px solid #dee2e6;
    padding: 1rem;

    & + & {
        margin-top: 0.125rem;
    }
    
    
    
}