


.CommentEditor {
    
    input{
        border: none;
        outline: none;

        font-size: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        border: 1px solid #ced4da;
        width: 100%;
    }
}