



.CommentList {
    box-sizing: border-box;


    .Head {
        padding: 1rem;
        display: flex;
        flex-direction: row;

        span {
            font-size: 1.125rem;
            margin-left: 0.625rem;
            color: red;
        }
    }

    .Comment {

        margin-bottom: 0.125rem;
        header {
            font-size: 1rem;
            font-weight: bold;
        }

        p {
            font-size: 0.9rem;
        }

        footer {
            font-size: 0.8rem;
            opacity: 0.4;

        }

        border: 1px solid #dee2e6;
        padding: 1rem;




    }
}
