



.PostList {
    margin-top: 3rem;

    .WritePostButtonWrapper {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
    }
}

.PostItem {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &:first-child {
        padding-top: 0;
    }
    & + & {
        border-top: 1px solid #868e96;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 0;
        &:hover {
            color: #868e96;
        }
    }
    p{
        margin-top: 2rem;
    }

    a {
        color: black;
        text-decoration: none;
    }

    .SubInfo {
        color: #868e96;

        span + span:before {
            color: #ced4da;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            content: '\B7';
        }
    }
}