

.PostActionButtons {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    margin-top: -1.5rem;


    button{
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        border: none;
        outline: none;
        background: none;
        color: #868e96;
        font-weight: bold;
        outline: none;
        font-size: 0.875rem;
        cursor: pointer;
        &:hover{
            background: #f1f3f5;
            color: #1098ad;
        }

    }
    button + button {
        margin-left: 0.25rem;
    }
}