

.ChannelSideBar {

  width: 30%;
  max-width: 320px;
  min-width: 320px;
  .Header {

    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .Input {
      margin-top: 0.625rem;
    }


    .Title {
      height: 50px;
      padding: 0.625rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .Selector {
        width: 30px;
        height: 20px;
        border-radius: 2rem;
      }
    }

  }

  .ChannelList {
    height: calc(100% - 120px);
    overflow: scroll;

    .Channel:hover {
      background: lightgray;
    }
    .Channel {
      height: 6rem;
      padding: 0.625rem;
      display: flex;
      flex-direction: column;

      .Title {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
      }

      .SubInfo {
        display: flex;
        flex-direction: row;
        h5 {
          opacity: 0.5;
          margin-right: 0.125rem;
        }

        .Point {
          font-weight: bold;
          color: #343a40;
        }

        span {
          font-weight: bold;
        }
      }

    }
  }

}