
.ChatList {
  background: #e9ecef;

  .Chats {
    background: #FFFFFF;
    height: calc(100vh - 3rem - 50px - 40px);
    overflow-y: scroll;
  }
}

.ChatItem {
  padding: 1rem;

  .ItemWrapper {

    width: fit-content;
    display: flex;
    flex-direction: column;

    .Contents {
      display: flex;
      flex-direction: row;
    }

    #user_name {
      font-size: 0.875rem;
    }

    #time {
      display: flex;
      align-items: flex-end;
      margin-left: 0.3rem;
      opacity: 0.4;
    }

    #item {
      margin-top: 0.3rem;
      padding: 0.5rem;
      font-size: 1rem;
      width: fit-content;
      border-radius: 1rem;
    }
  }

  &.Others {

    display: flex;
    justify-content: flex-start;

    #item {
      background: #E5E6EB;
    }
  }

  &.Myself {

    .Name {
      display: none;
    }
    display: flex;
    justify-content: flex-end;
    #item {
      background: #0084FF;

    }
  }
}


